name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Cache cargo registry
      uses: actions/cache@v3
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-registry-

    - name: Cache cargo index
      uses: actions/cache@v3
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-index-

    - name: Cache cargo build
      uses: actions/cache@v3
      with:
        path: fesh_comp/target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-build-target-

    - name: Build FESH
      run: cd fesh_comp && cargo build --release

    - name: Verify Reversibility on System Bash
      run: |
        cp /bin/bash ./test_bin
        ./fesh_comp/target/release/fesh_comp compress ./test_bin ./tmp.fes
        ./fesh_comp/target/release/fesh_comp decompress ./tmp.fes ./test_out
        cmp -s ./test_bin ./test_out || (echo "Decompression mismatch!" && exit 1)
        echo "Identity match verified successfully!"
